# python data stuctures and boolean

### . Boolean
## . boolean and logial operators
## . list 
## . comparison operators
## . dicitonaries
## . sets
## . tuples

In [1]:
## booean variables

 Boolean values are the two constant object False and True
 
 They are used to represent truth values (other values can also be considered false and true)
 
 In numeric contexts (for example, when used as the argumnt to an arithmetic operator ), they behave like intergers 0 and 1 , respectively
 
 the built-in function bool() can used to cast value to Boolearn , if the values can br interpreted as a truth value

In [1]:
False

False

In [2]:
type(True)

bool

In [12]:
my_str="karthik aedumbaka"

In [13]:
my_str.encode()

b'karthik aedumbaka'

In [14]:
print(my_str)

karthik aedumbaka

In [16]:
print(my_str.isalnum())   #check if all char are numbers
print(my_str.isalpha())  #check if all char in the string are alphabetic
print(my_str.isdigit())   #test if string contains digits
print(my_str.istitle())   #test if string contaains title word
print(my_str.isupper())   #test if contains upper caase
print(my_str.islower())   #test if string contains the lower case
print(my_str.isspace())    #test if string contains space
print(my_str.endswith("a"))  #test is string ends with letter "a"
print(my_str.startswith("k")) #test if string starts with letter "k"

False
False
False
False
False
True
False
True
True

# Boolean and logical operators

In [17]:
True and True

True

In [18]:
True and False

False

In [19]:
True or False

True

In [23]:
~(True and False)

-1

In [24]:
first_name="karthik"
last_name ="aedumbaka"

In [25]:
first_name.isalpha() or last_name.isnum()

True

# list

A list is a data structure in Python that is a mutable , or changeable , ordered squence of elements. Eash element or value that inside of the list is called an item . Just as wtring are defined as characters between quates, list are defined by defined by having values between square brackets []

In [28]:
lst_exp=[]

In [29]:
type(lst_exp)

list

In [30]:
lst=list()
type(lst)

list

In [31]:
lst=["maths","chemistry ","karthik","ml",11334,6543]

In [32]:
len(lst)

6

# append

In [33]:
#append is used add element in the list
lst.append("balaji")

In [35]:
#indexing in list
lst[3]

'ml'

In [36]:
lst[2:]

['karthik', 'ml', 11334, 6543, 'balaji']

In [34]:
lst

['maths', 'chemistry ', 'karthik', 'ml', 11334, 6543, 'balaji']

In [38]:
lst.append(["narayana","kgf"])

lst.append(["narayana","kgf"])
lst

['maths',
 'chemistry ',
 'karthik',
 'ml',
 11334,
 6543,
 'balaji',
 ['narayana', 'kgf'],
 ['narayana', 'kgf']]

# insert

In [39]:
# insert in a specific order
lst.insert(3,"pandi")

In [40]:
lst

['maths',
 'chemistry ',
 'karthik',
 'pandi',
 'ml',
 11334,
 6543,
 'balaji',
 ['narayana', 'kgf'],
 ['narayana', 'kgf']]

# Extend Method

In [41]:
lst=[1,2,3,4,5,6,7,8,9]

In [42]:
lst.extend([11,44])

In [43]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 44]

# Varoius Operations that we can perfrom in list

In [44]:
lst=[1,2,3,4,5]

In [45]:
sum(lst)

15

# Pop() Method

In [47]:
lst.pop()

5

In [48]:
lst

[1, 2, 3, 4]

In [49]:
lst.pop(2)

3

In [50]:
lst

[1, 2, 4]

# count() :calcutes total occurrence of given element of list

In [51]:
lst=["k","k","j","p","y","a","a","l"]

In [52]:
lst.count("a")

2

In [53]:
lst=[1,1,1,3,4,5,5,6,7,8,3,8,8,9,9]

In [54]:
lst.count(1)

3

In [55]:
len(lst)

15

In [56]:
# index() : Return the index of first occurrence. strat and end index are not necessary parameters
lst.index(3)

3

In [59]:
lst.index(1,0,4) # where 0 in starting point and 4 in the ending point

0

In [60]:
min(lst)

1

In [61]:
max(lst)

9