# SETS
### A Set is an unorder collection data type that is iterable , mtable ,and no duplicate slemects. Python set cless represents the mathematical notion of set.This is based on a data structure known as hash tables

In [4]:
# defining an empy set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [5]:
set_var={"karthik","dj","keerthi"}

In [6]:
print(set_var)
print(type(set_var))

{'karthik', 'keerthi', 'dj'}
<class 'set'>

In [7]:
set_var1={1,2,3,4,5,3,4,2,1}

In [9]:
print(set_var1) #see the output ...the output is no duplicate output

{1, 2, 3, 4, 5}

In [10]:
set_var.add("year")

In [11]:
print(set_var)

{'karthik', 'year', 'keerthi', 'dj'}

In [15]:
for i in set_var:
    print(i)

karthik
year
keerthi
dj

In [16]:
set1={"karthik","dj","keerthi","vasmi"}
set2={"karthik","roja","kiran","balaji"}

In [17]:
set1.intersection(set2)

{'karthik'}

In [18]:
set1.union(set2)

{'balaji', 'dj', 'karthik', 'keerthi', 'kiran', 'roja', 'vasmi'}

In [19]:
#differdifference  
set1.difference(set2)

{'dj', 'keerthi', 'vasmi'}

# Dictionary 
## A dictionary is collection which is unorder , changeable and indexed . In python dictionaries are written with curly brackets, and they have keys and values.

In [20]:
dic={}

In [21]:
type(dic)

dict

In [22]:
dic={1,2,3,4,5}

In [23]:
type(dic)

set

In [24]:
# let create a  dictionary
my_dic={"karthik":11334,"keerthi":12300,"dj":12380}

In [25]:
print(my_dic["karthik"])

11334

In [26]:
#to know the keys in dict
for i in my_dic.keys():
    print(i)

karthik
keerthi
dj

In [27]:
#to know the values in dict
for i in my_dic.values():
    print(i)

11334
12300
12380

In [29]:
# to se the both keys and values in dict
for i in my_dic.items():
    print(i)

('karthik', 11334)
('keerthi', 12300)
('dj', 12380)

In [30]:
# to add the items in dict
my_dic["balaji"]=113323

In [31]:
my_dic

{'karthik': 11334, 'keerthi': 12300, 'dj': 12380, 'balaji': 113323}

# nested Dictionary

In [32]:
name1={"karthik":11334}
name2={"dj",12380}
name3={"keerhi",12300}
names={"vasmi":name1,"balaji":name2,"having":name3}

In [33]:
print(names)

{'vasmi': {'karthik': 11334}, 'balaji': {'dj', 12380}, 'having': {12300, 'keerhi'}}

# Tuples

In [34]:
# to create a empty tuples
my_tuples=tuple()

In [35]:
print(my_tuples)

()

In [36]:
my_tup=("karthik","aedumbaka","john")

In [37]:
my_tup[0]

'karthik'

In [39]:
# inbuilt function
my_tup.count("karthik")

1

In [41]:
my_tup.index("john")

2